<?xml version="1.0" encoding="UTF-8"?>
<phpunit
    colors="true"
    stopOnError="false"
    stopOnFailure="false"
    stopOnIncomplete="false"
    bootstrap="vendor/autoload.php">

    <testsuites>
        <testsuite name="Delimiters">
            <directory suffix="Test.php">tests/Delimiters</directory>
        </testsuite>
        <testsuite name="Diff">
            <directory suffix="Test.php">tests/Diff</directory>
        </testsuite>
        <testsuite name="Granularity">
            <directory suffix="Test.php">tests/Granularity</directory>
        </testsuite>
        <testsuite name="Parser">
            <directory suffix="Test.php">tests/Parser</directory>
        </testsuite>
        <testsuite name="Render">
            <directory suffix="Test.php">tests/Render</directory>
        </testsuite>
        <testsuite name="Usage">
            <directory suffix="Test.php">tests/Usage</directory>
        </testsuite>
    </testsuites>
</phpunit>